<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>QClub.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
				<key>dateExpires</key>
				<string>11/8/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AXPhotoViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AXStateButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CommonCrypto.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HTMLKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQDropDownTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PagingMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PhotoSlider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PromiseKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SendBirdSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TTTAttributedLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
						<key>dateExpires</key>
						<string>11/8/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>USQFGC88U6</string>
						<key>name</key>
						<string>TRAMS</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>USQFGC88U6.com.trams.QClub</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>USQFGC88U6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>QClub.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8d5258f6-840a-41cf-aae5-27b644f5e694</string>
				<key>name</key>
				<string>testing13102017</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>USQFGC88U6</string>
				<key>name</key>
				<string>TRAMS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
