<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.trams.QClub</key>
		<string>testing13102017</string>
	</dict>
	<key>signingCertificate</key>
	<string>181BAB783228C9BEEB471E308B79E492B367AE09</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>USQFGC88U6</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
